.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    background-color: var(--bloc);
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .4s ease-in-out;
}
.menu--open {
    visibility: visible;
    opacity: 1;
  }

.menu__list {
    list-style: none;
    position: absolute;
    top: 5rem;
    left: 1rem;
}

.menu__item {
    padding-bottom: 2rem;
}
.menu__link {
    text-decoration: none;
    color: var(--jaune);
    font-size: var(--menu);
    font-family: var(--font-title);
    text-transform: uppercase;
    text-align: center;
    
    background-color: var(--background);
    display: block;
    width: 17rem;
    padding-top: 1rem;
    padding-bottom: 1rem;


}




.menu-btn {
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 20rem;
    width: 30px;  
}
.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    
    content: '';
    background: var(--jaune);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10; 
    transition: all .4s ease-in-out;

}
.menu-btn__bar::before {
    top: 0.5rem;
  }
  
  .menu-btn__bar::after {
    top: -0.5rem;
  }


.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: var(--gray-black);
}